*{
  border: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0px;
}


.nav-bar{
    height:80px;
    width: 100%;
    background-color: #131921;
    color: white;
}

.nav-logo{
    height: 70px;
    width: 200px;
    color: white;
}

.logo{
    background-image: url("Screenshot\ 2024-09-18\ 154011.png");
    height: 70px;
    width: 100%;
    background-size: cover;
    border: transparent;
}
.border:hover{
    border:2px solid white;

}